<div class="row">
    {# Insertion du thème principal pour les formulaires #}
    {% form_theme form '::form_base.html.twig' %}

    <form id="search" action="{{ url('search_result') }}" method="post" role="search">
      <!-- ================================================= -->
      <!-- Barre de Recherche -->
      <!-- ================================================= -->
      <div class="form-group">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Ville (nom ou code postal)"
                   name="city_term" id="searchbox" />
            <div class="input-group-btn">
                <button class="btn btn-primary" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
        <div id="city-list">
        </div>
        {% if error_cities|length > 0 %}
            <span class="help-block">
              <ul class="list-unstyled">
                {% for error in error_cities %}
                    <li>
                      <span class="glyphicon glyphicon-exclamation-sign"> </span> {{ error }}
                    </li>
                {% endfor %}
              </ul>
            </span>
        {% endif %}
      </div>
      <!-- ================================================= -->


      {# Si on a trouvé plusieurs ville #}
      {% if cities|length > 1 %}
        <div class="form-group more_space">
          <lablel class="control-label required">Plusieurs ville ont été trouvées, veuillez selectionnez votre ville dans la liste</label>

          {# affichage de toutes les villes dans une liste #}
          <select class="form-control" id="sel1" name="cities">
            {% for city in cities %}
              <option  value="{{ city.id }}">{{ city.nom }} | {{ city.cp }}</option>
            {% endfor %}
          </select>
        </div>
      {% endif %}

      <!-- ================================================= -->
      <!-- Filtre de la Recherche -->
      <!-- ================================================= -->
      <div id="advanced" class="panel-group more_space">
       <div class="panel panel-default">
           <div class="panel-heading">
             <h4 class="panel-title">
               <a class="link" data-toggle="collapse" href="#collapse1">
                 <span class="glyphicon glyphicon-plus-sign"></span> Recherche avancée
               </a>
             </h4>
           </div>
           <div id="collapse1" class="panel-collapse collapse">
             <div class="panel-body">
                 <div class="form-group">
                   {{ form_label(form.kmRay) }} {{ form_widget(form.kmRay) }}
                   {{ form_errors(form.kmRay) }}
                 </div>
                 <div class="form-group">
                   {{ form_label(form.gender) }} {{ form_widget(form.gender) }}
                   {{ form_errors(form.gender) }}
                 </div>
                 <div class="form-group">
                   {{ form_label(form.oneshotDescription) }} {{ form_widget(form.oneshotDescription) }}
                   {{ form_errors(form.oneshotDescription) }}
                 </div>
                 <div class="form-group">
                   {{ form_label(form.age) }} {{ form_widget(form.age) }}
                   {{ form_errors(form.age) }}
                 </div>
                 <div class="form-group more_space">
                      <button class="btn btn-success" type="submit">Rechercher</button>
                 </div>
             </div>
           </div>
       </div>
      </div>
      <!--<div class="form-group more_space">
           <input class="btn btn-default" type="reset" value="Remettre à zéro les critères" />
      </div>-->
      <!-- ================================================= -->
    </form>
</div>
