{% extends '::base.html.twig' %}

{% block stylesheets %}
  {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <link rel="stylesheet" href="{{ asset('css/autocomplete/jquery-ui-1.8.18.custom.css') }}">
  {% endif %}
{% endblock %}

{% block title %}Recherche{% endblock %}

{% block body %}
  {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <section class="first_section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>Rechercher</h3>
                </div>
            </div>
            {% include 'SearchBundle::searchBar.html.twig' %}
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active">
                <a href="#user" aria-controls="user" role="tab" data-toggle="tab">
                  <span class="glyphicon glyphicon-user"></span> Utilisateurs
                  {% if userResults is defined %}
                    ({{ userResults|length }})
                  {% endif %}
                </a>
              </li>
              <li role="presentation">
                <a href="#party" aria-controls="party" role="tab" data-toggle="tab">
                  <span class="glyphicon glyphicon-glass"></span> Soirées
                  {% if parties is defined %}
                    ({{ parties|length }})
                  {% endif %}
                </a>
              </li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="user">
                    {% include('SearchBundle::temp_users.html.twig') %}
                </div>

                <!-- Affichage des soirées -->
                <div role="tabpanel" class="tab-pane" id="party">
                    {% include('PartyBundle::temp_party.html.twig') %}
                </div>
            </div>
        </div>
    </section>
  {% endif %}
{% endblock %}

{% block javascripts %}
  {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <script>
        //On peut aller sur le lien si launch = true
        var launch = true;

        //Clique sur la checkbox alors on annule l'action de redirection
        $('.thumbnail').find('#row_check').on('click', function() {
            //window.location = $(this).find("#row_link").attr("href");
            launch = false;
        });

        $('.thumbnail').on('click', function() {
            if(launch)
            {
              window.location = $(this).find("#row_link").attr("href");
            }
            else {
              launch = true;
            }
        });

      var TWIG = {};
      TWIG.path = "{{ url('geolocation_search_city') }}"

      $(document).ready(function(){
        $("#advanced").on("hide.bs.collapse", function(){
          $(".link").html('<span class="glyphicon glyphicon-plus-sign"></span> Recherche avancée');
        });
        $("#advanced").on("show.bs.collapse", function(){
          $(".link").html('<span class="glyphicon glyphicon-minus-sign"></span> Recherche avancée');
        });
      });
    </script>

    <script type="text/javascript" src="{{ asset('js/autocomplete/jquery-ui-1.8.18.custom.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/autocomplete/attach-autocomplete.js') }}"></script>
  {% endif %}
{% endblock %}
