{% if userResults is defined %}
    <p>
      {{ userResults|length }} utilisateur{% if userResults|length > 1 %}s{% endif %}
      trouvé{% if userResults|length > 1 %}s{% endif %} pour {{ city_term }}.
    </p>

    {% if userResults|length > 0 %}
      <div class="row">
          {% for ures in userResults %}
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail thumbnail_spv">
                  <a id="row_link" href="{{ url('user_show', {'username':ures.username}) }}" style="display:none;"></a>
                  <ul class="media-list caption">
                    <li class="media">
                      <div class="media-left">
                          {% include "UserBundle:UserProfile:temp_image.html.twig" with {'user':ures, 'width':64} %}
                      </div>
                      <div class="media-body">
                        <h4 class="media-heading">{{ ures.username|capitalize }}</h4>
                        <p class="small">
                          {% if ures.userProfile.gender != null %}
                            {% if ures.userProfile.gender == "m" %}
                              Homme
                            {% else %}
                              Femme
                            {% endif %}
                            {# si on a l'age en même temps que le sexe on rajoute le de #}
                            {% if ures.userProfile.age != null %}
                              de
                            {% endif %}
                          {% endif %}

                          {% if ures.userProfile.age != null %}
                            {{ ures.userProfile.age }} ans
                          {% endif %}
                        </p>
                        <p class="small"><span class="glyphicon glyphicon-map-marker"></span>
                          {{ ures.userProfile.city.nom }}</p>
                      </div>
                    </li>
                  </ul>

                  <div class="caption">
                    <p class="small">{{ ures.userProfile.descriptionSentence }}</p>
                    <div class="corner-right">
                      <a id="row_check" href="{{ url('message_send', {'user_id': ures.id}) }}"><span class="glyphicon glyphicon-envelope"></span></a>
                      <a id="row_check" href="{{ url('user_show', {'username':ures.username}) }}">
                        <span class="glyphicon glyphicon-eye-open"></span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
          {% endfor %}
      </div>
    {% endif %}
{% endif %}
