{% extends "::base.html.twig" %}
{% block body %}
  <section id="register" class="first_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Erreur</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            Revenez sur vos pas <a href="{{ url('home_page') }}">Seul Pour Noël</a>
        </div>
      </div>
    </section>
{% endblock %}
