<section id="register" class="first_section">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2>Edition du profil</h2>
              <hr class="star-primary">
          </div>
      </div>
      <div class="row">
        {% trans_default_domain 'FOSUserBundle' %}
        {% form_theme form '::form_base.html.twig' %}

        {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
            {{ form_widget(form) }}
            <div>
                <input class="btn btn-success" type="submit" value="{{ 'profile.edit.submit'|trans }}" />
            </div>
        {{ form_end(form) }}
      </div>
  </div>
</section>
