{% trans_default_domain 'FOSUserBundle' %}

<section class="first_section">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2>Profil</h2>
              <hr class="star-primary">
          </div>
      </div>
  </div>
</section>
