{% extends '::base.html.twig' %}

{% block title %}Conditions générales d'utilisation{% endblock %}

{% block body %}
<section class="first_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Conditions générales d'utilisation</h2>
                <hr class="star-primary" />
            </div>
        </div>
        <div class="row">
          {% set link = 'www.seulpourlasaintvalentin.fr' %}
            <p class="text-center">
              <b>
                <a href="{{ link }}">{{ link }}</a>
                est un service qui permet aux personnes seules pour la Saint  Valentin de se rencontrer.
              </b>
            </p>
            <p class="text-center">
              <b>PRENEZ GARDE TOUTEFOIS A ADOPTER UN COMPORTEMENT RAISONNABLE.</b>
            </p>
            <p class="text-center">
              <b>Votre sécurité est votre responsabilité...</b>
            </p>
            <p class="text-center">
              L'Utilisateur déclare avoir pris connaissance des présentes
              Conditions Générales d'Utilisation avant la validation son inscription.
              Cette validation vaut donc acceptation sans restriction ni réserve des présentes Conditions Générales d'Utilisation.
            </p>
            <p>
              ATTENTION:Aucune personne de moins de 18 ans n'est autorisé à visiter ce site ou à utiliser le service
              <a href="{{ link }}">{{ link }}</a>
            </p>
            <h3>1.Définition :</h3>
            <p>
              Les présentes Conditions Générales d'Utilisation ont pour objet de définir les modalités de mise à disposition du site
              <a href="{{ link }}">{{ link }}</a>,
               ci-après nommé « le Service » et les conditions d'utilisation du Service par l'Utilisateur. 
            </p>
            <p>
              <strong>Site :</strong> Le Site désigne le site Internet <a href="{{ link }}">{{ link }}</a><br />
              <strong>Utilisateur :</strong> L'Utilisateur est toute personne qui utilise le Site ou l'un des services proposés sur le Site.<br />
              <strong>Membre :</strong> Le terme « Membre » désigne un utilisateur identifié sur le site<br />
              <strong>Contenu :</strong> Le terme « Contenu Utilisateur » désigne les données transmises par l'utilisateur dans les différentes rubriques du Site.<br />
            </p>
            <h3>2. Accès au site et aux services fournis :</h3>
            <p class="text-justify">
              Le site permet a toutes les personnes qui seront seules pour la St Valentin de trouver près de chez lui
              d'autres personnes seules également.
              Ils pourront ainsi échanger par le biais de messages, et pourquoi organiser des festivités.
            </p>
            <p>
              L'inscription est gratuite.
            </p>
            <p>
              <strong>Attention toutefois à rester prudent !</strong>
            </p>
            <p class="text-justify">
              <strong>Soyez vigilant</strong>, contacter la personne par téléphone avant de la recevoir
              chez vous ou encore avant de vous rendre chez elle. Assurez -vous de ne pas être la seule ou le seul convive .
              Communiquer à votre entourage (amis , voisins,...) l'adresse à laquelle vous vous rendez.
            </p>
            <p class="text-justify">
              <strong>Renseignez-vous obligatoirement</strong> sur la véritable identité de vos hôtes.
              (Via les réseaux sociaux tels que Facebook par exemple)
            </p>
            <p class="text-center">
              <strong>
                Le site vous recommande très fortement de rencontrer une première fois vos hôtes,
                pour une première prise de contact dans un lieu public (bar , restaurant, salle des fêtes...)</strong>
            </p>
            <p class="text-justify">
              Nous ne contrôlons pas l'identité des utilisateurs du site, vous êtes responsable de votre sécurité.
              Vous avez une obligation de vous renseigner par tous les moyens.
            </p>
            <h3>3. Propriété intellectuelle :</h3>
            <p class="text-justify">
              Les logos, les images et autres signes distinctifs sont la propriété du site.
              Le recopiage ou encore l’utilisation du contenu est soumis à autorisation par l’éditeur du site et
              <strong>tout contenu copié peut entraîner de lourdes sanctions.</strong>
            </p>
            <h3>4. Responsabilité :</h3>
            <p class="text-justify">
              Le site est un interface permettant aux personnes qui sont seules pour Noël de se rencontrer.
            </p>
            <p class="text-justify">
              L'utilisateur s'engage à respecter les obligations suivantes :
            </p>
            <p>
              <ul>
                <li>
                  Assurez-vous de protéger votre nom de famille, vos adresses mails et postales,
                  votre lieu de travail ou toutes autres informations qui permettraient à une personne
                  que vous ne connaissez pas de vous identifier
                </li>
                <li>
                  Soyez prudent et réfléchissez bien aux informations que vous souhaitez donner aux autres membres.
                </li>
                <li>
                  Gardez toujours un moyen de communiquer avec vos proches (téléphone portable) et
                  assurez-vous d'être en total autonomie (venez par vos propres moyens : voiture, vélo, pieds)
                </li>
                <li>
                  Tout utilisateur doit communiquer en respectant les valeurs du respect, du partage, de la solidarité,
                  de l'entraide et de l'écoute mutuelle.
                </li>
                <li>
                  Tout utilisateur devra prendre garde à surveiller son langage et à ne pas manquer de respect à un autre
                  utilisateur, ou encore à ne pas être agressif ou malveillant.
                </li>
                <li>
                  Les propos racistes, xénophobes ou encore détériorant l'image de la femme son interdits.
                </li>
              </ul>
            </p>
            <h3>5. Liens hypertexte :</h3>
            <p class="text-justify">
              <i><a href="{{ link }}">{{ link }}</a> propose des e-mail et des liens hypertextes,
                vers des sites web édités et/ou gérés par des tiers.
                Dans la mesure où aucun contrôle n'est exercé sur ces ressources externes,
                l'utilisateur reconnaît que <a href="{{ link }}">{{ link }}</a> n'assume aucune responsabilité
                relative à la mise à disposition de ces ressources, et ne peut être tenue responsable quant à leur contenu.
              </i>
            </p>
            <h3>6. Données personnelles :</h3>
            <p>
              Les informations demandées à l'Utilisateur sont nécessaires au fonctionnement du Site.
            </p>
            <p>
              L'Utilisateur dispose d'un droit individuel d'accès, de retrait et de rectification des données individuelles
              à caractère personnel dans les conditions prévues par la loi n° 78-17 du 6 janvier 1978 relative à l'informatique,
              aux fichiers et aux libertés. Le Client doit adresser toute demande écrite à l'adresse suivante :
              team@seulpourlastvalentin.fr
            </p>
            <h3>7. Mentions légales :</h3>
            <p>
              Directeur de publication : Héléna Vigneron <br />
              Contact : team@seulpourlasaintvalentin.fr<br/>
            </p>
            <h5>Hébérgement</h5>
            <p>
              1&amp;1 Internet SARL<br />
              7, place de la Gare<br />
              BP 70109 <br />
              57201 Sarreguemines Cedex
            </p>
        </div>
    </div>
</section>
{% endblock %}
