<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive" src="{{ asset('img/coeur.png') }}" alt="">
                <div class="col-lg-6 col-lg-offset-3 text-center">

                </div>
                <h1 class="marque big">Seul pour la Saint-Valentin ?</h1>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") == false %}
                  <div>
                    <a href="{{ url("fos_user_registration_register") }}" class="btn btn_spv_red more_space">
                        Inscrivez-vous gratuitement
                    </a>
                  </div>
                {% endif %}
            </div>
        </div>
    </div>
</header>

<!-- About Section -->
<section id="about" class="section_about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>A propos</h2>
                <hr class="star-spv">
            </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-lg-offset-2">
            <p class="text-justify">
              Parce qu’on s'est dit que de toute façon la pâte à tartiner et le plateau c'était bien trop cliché !
              On a décidé de créer ce site web qui permettra aux célibataires d'échanger, de partager et surtout d'organiser des festivités !
            </p>
          </div>
          <div class="col-lg-3">
            <p class="text-justify">
              Notre objectif est de créer une dynamique pour les gens seuls, qui s'assument très bien au quotidien,
              mais qui ont juste besoin à l'approche des fêtes, comme la Saint-Valentin, d'un petit coup de pouce
              pour se retrouver.
            </p>
          </div>
          <div class="col-lg-3">
            <p class="text-justify">
              En 2016, on est célibataire et ça se fête ! Que ce soit plutôt pour un tête-à-tête ou une grosse bringue
              à plusieurs, les utilisateurs peuvent créer l'événement qui leur ressemblent le plus.
            </p>
          </div>
        </div>
    </div>
</section>

<!-- History Section -->
<section id="history" class="section_history">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Le saviez-vous ?</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 text-center">
                <p class="text-justify">
                  La Saint-Valentin est en réalité, et depuis des temps immémoriaux, une fête réservée aux célibataires !
                  En effet selon la tradition, le 14 février était organisé un cache-cache géant au cours duquel les jeunes
                  filles se dispersaient aux alentours des villages en espérant être découvertes par un beau jeune homme...
                  </p>
                  <p class="text-center">Selon la coutume, les couples qui s'étaient trouvés ce jour-là se mariaient dans l'année.</p>

            </div>
        </div>
    </div>
</section>
