<header>
    <div class="container">
      <div class="row">
          <div class="col-lg-3 col-md-3 col-lg-offset-2">
            <div class="spv_card">
                <a id="row_link" href="#user_around" class="hide invisible"></a>
                <div class="text-center">
                  <i class="fa fa-users fa-5x"></i>
                </div>
                <div>
                  <h4 class="no_uppercase spv_h4">Rencontrer d'autres utilisateurs</h4>
                  <p class="text-justify">
                    Vous pouvez échanger, partager avec d'autres utilisateurs via une messagerie interne
                    mais aussi inviter d'autres utilisateurs à votre soirée.
                  </p>
                </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3">
            <div class="spv_card">
                <div class="text-center">
                  <i class="fa fa-calendar fa-5x"></i>
                </div>
                <div>
                  <a id="row_link" href="{{ url('party_organize') }}" class="hide invisible"></a>
                  <h4 class="no_uppercase spv_h4">Organiser une soirée</h4>
                  <p class="text-justify">
                    En 2016, on est célibataire et ça se fête ! Que soyez plutôt tête-à-tête ou grosse bringue à
                    plusieurs, proposez votre événement !
                  </p>
                </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3">
            <div class="spv_card page-scroll">
                <div class="text-center">
                  <i class="fa fa-glass fa-5x"></i>
                </div>
                <div>
                  <a id="row_link" href="#party_around" class="hide invisible"></a>
                  <h4 class="no_uppercase spv_h4">Participer à une soirée</h4>
                  <p class="text-justify">
                    Découvrez ici les soirées organisées par les autres utilisateurs.
                    Inscrivez-vous à celles qui vous correspond le mieux !
                  </p>
                </div>
            </div>
          </div>
      </div>
    </div>
</header>
<section id="user_around" class="section_about">
    <div class="row">
        <div class="text-center">
            <h2>Utilisateurs près de chez vous</h2>
            <hr class="star-spv">
        </div>
    </div>
    <div class="container">
      {{ render(controller('SearchBundle:Default:searchCityArround', {"city_id": app.user.userProfile.city.id})) }}
    </div>
</section>
<section id="party_around">
    <div class="row">
        <div class="text-center">
            <h2>Soirées près de chez vous</h2>
            <hr class="star-primary">
        </div>
    </div>
    <div class="container">
      {{ render(controller('SearchBundle:Default:searchPartyArround', {"city_id": app.user.userProfile.city.id})) }}
    </div>
</section>
