{% extends '::base.html.twig' %}

{% block stylesheets %}
  {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <link rel="stylesheet" href="{{ asset('css/autocomplete/jquery-ui-1.8.18.custom.css') }}">
  {% endif %}
{% endblock %}

{% block title %}Seul pour la Saint-Valentin{% endblock %}

{% block body %}
    {% include 'AppBundle::home_content.html.twig' %}
{% endblock %}

{% block javascripts %}
  {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <script>
        clickable_elem(".thumbnail");
        clickable_elem(".spv_card");

        function clickable_elem(id)
        {
            //On peut aller sur le lien si launch = true
            var launch = true;

            //Clique sur la checkbox alors on annule l'action de redirection
            $(id).find('#row_check').on('click', function() {
                //window.location = $(this).find("#row_link").attr("href");
                launch = false;
            });

            $(id).on('click', function() {
                if(launch)
                {
                  window.location = $(this).find("#row_link").attr("href");
                }
                else {
                  launch = true;
                }
            });
        }
    </script>
  {% endif %}
{% endblock %}
