{% extends '::base.html.twig' %}

{% block body %}
  {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <section class="first_section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Soirées</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div>
              <a class="btn btn-success" href="{{ url('party_organize') }}"><span class="glyphicon glyphicon-plus"></span> Organiser une soirée</a>
              {% include('PartyBundle::temp_party.html.twig') %}
            </div>
        </div>
    </section>
  {% endif %}
{% endblock %}

{% block title %}Soirées{% endblock %}

{% block javascripts %}
  <script>
  $('.table > tbody > tr').on('click', function() {
        window.location = $(this).find("#row_link").attr("href");
  });
  </script>
  <script>
      function alert_danger(link) {
          var r = confirm("Êtes-vous sûr ? Cette action est irréversible !");
          if (r == true) {
              window.location = link;
          } else {

          }
      }
  </script>
{% endblock %}
