{% extends "::base.html.twig" %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/autocomplete/jquery-ui-1.8.18.custom.css') }}">
  <link href="{{ asset('css/bootstrap-datetimepicker.min.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}Organiser une soirée{% endblock %}

{% block body %}
  <section id="register" class="first_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Créer une soirée</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
          {% form_theme form '::form_base.html.twig' %}
          {% if partyId is not defined %}
            {{ form_start(form, {'method': 'post', 'action': path('party_organize')}) }}
          {% else %}
            {{ form_start(form, {'method': 'post', 'action': path('party_modify', {'id': partyId})}) }}
          {% endif %}
              <div class="form-group">
                {{ form_label(form.title) }} {{ form_widget(form.title) }}
                {{ form_errors(form.title) }}
              </div>

              <div class="form-group">
                {{ form_label(form.placeType) }} {{ form_widget(form.placeType) }}
                {{ form_errors(form.placeType) }}
              </div>

              {# Champ liée à l'addresse #}
              <div class="form-group">
                {{ form_label(form.address.address) }}
                {{ form_widget(form.address.address) }}
                {{ form_errors(form.address.address) }}
              </div>
              <div id="advanced" class="panel-group more_space">
               <div class="panel panel-default">
                   <div class="panel-heading">
                     <h4 class="panel-title no_uppercase">
                       <a class="link" data-toggle="collapse" href="#collapse1">
                         <span class="glyphicon glyphicon-plus-sign"></span> Vérification
                       </a>
                     </h4>
                   </div>
                   <div id="collapse1" class="panel-collapse collapse">
                     <div id="address_fields" class="panel-body">
                         <div class="form-group">
                           {{ form_label(form.address.streetNumber) }}
                           {{ form_widget(form.address.streetNumber, {'id':'street_number'}) }}
                           {{ form_errors(form.address.streetNumber) }}
                         </div>
                         <div class="form-group">
                           {{ form_label(form.address.route) }}
                           {{ form_widget(form.address.route, {'id':'route'}) }}
                           {{ form_errors(form.address.route) }}
                         </div>
                         <div class="form-group">
                           {{ form_label(form.address.locality) }}
                           {{ form_widget(form.address.locality, {'id':'locality'}) }}
                           {{ form_errors(form.address.locality) }}
                         </div>
                         <div class="form-group">
                           {{ form_label(form.address.administrativeAreaLevel1) }}
                           {{ form_widget(form.address.administrativeAreaLevel1, {'id':'administrative_area_level_1'}) }}
                           {{ form_errors(form.address.administrativeAreaLevel1) }}
                         </div>
                         <div class="form-group">
                           {{ form_label(form.address.administrativeAreaLevel2) }}
                           {{ form_widget(form.address.administrativeAreaLevel2, {'id':'administrative_area_level_2'}) }}
                           {{ form_errors(form.address.administrativeAreaLevel2) }}
                         </div>
                         <div class="form-group">
                           {{ form_label(form.address.postalCode) }}
                           {{ form_widget(form.address.postalCode, {'id':'postal_code'}) }}
                           {{ form_errors(form.address.postalCode) }}
                         </div>
                         <div class="form-group">
                           {{ form_label(form.address.country) }} {{ form_widget(form.address.country, {'id':'country'}) }}
                           {{ form_errors(form.address.country) }}
                         </div>
                         <div class="form-group hide invisible">
                           {{ form_label(form.address.lat) }} {{ form_widget(form.address.lat, {'id':'lat', 'class':'hide invisible'}) }}
                           {{ form_errors(form.address.lat) }}
                         </div>
                         <div class="form-group hide invisible">
                           {{ form_label(form.address.lng) }} {{ form_widget(form.address.lng, {'id':'lng'}) }}
                           {{ form_errors(form.address.lng) }}
                         </div>
                         <div class="form-group hide invisible">
                           {{ form_label(form.address.placeId) }} {{ form_widget(form.address.placeId, {'id':'place_id'}) }}
                           {{ form_errors(form.address.placeId) }}
                         </div>
                     </div>
                   </div>
               </div>
              </div>
              {# ------- Fin Champ liée à l'addresse #}

              <div class="form-group">
                {{ form_label(form.datetime) }} {{ form_widget(form.datetime) }}
                {{ form_errors(form.datetime) }}
              </div>

              <div class="form-group">
                {{ form_label(form.participantNumber) }} {{ form_widget(form.participantNumber) }}
                {{ form_errors(form.participantNumber) }}
              </div>

              <div class="form-group">
                {{ form_label(form.description) }} {{ form_widget(form.description) }}
                {{ form_errors(form.description) }}
              </div>

              <div class="form-group">
                {% if partyId is not defined %}
                  <input class="btn btn-success btn-lg" type="submit" value="Organiser" />
                {% else %}
                  <input class="btn btn-success btn-lg" type="submit" value="Modifier" />
                {% endif %}
              </div>
          {{ form_end(form) }}
        </div>
      </div>
    </section>
{% endblock %}

{% block javascripts %}
  <script type="text/javascript" src="{{ asset('js/autocomplete/attach-autocomplete.js') }}"></script>
  <script type="text/javascript" src="{{ asset('js/bootstrap-datetimepicker.js') }}" charset="UTF-8"></script>
  <script type="text/javascript" src="{{ asset('js/locales/bootstrap-datetimepicker.fr.js') }}" charset="UTF-8"></script>
  <script type="text/javascript">
      $('.form_datetime').datetimepicker({
          language:  'fr',
          weekStart: 1,
          todayBtn:  1,
      		autoclose: 1,
      		todayHighlight: 1,
      		startView: 2,
      		forceParse: 0,
          showMeridian: 0
      });
  </script>

  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyAHyTYdDhxbSCV8_5xvbgmxMryrsJCnjg0">
  </script>

  <script>
    google.maps.event.addDomListener(window, 'load', function() {
        initializeAutocomplete('party_address_address');
        });

    function initializeAutocomplete(id) {
        var element = document.getElementById(id);

        if (element) {
          var autocomplete = new google.maps.places.Autocomplete(element);
          google.maps.event.addListener(autocomplete, 'place_changed', onPlaceChanged);
        }
    }

    function resetFields(notThis, fields) {
        var inputs = document.getElementById(fields).getElementsByTagName("input");

        for(var i=0; i < inputs.length; i++)
        {
            if(notThis != inputs[i].id)
            {
                inputs[i].value = null;
            }
        }
    }

    function onPlaceChanged() {
        //On reset tous les champs.
        resetFields('party_address_address', 'address_fields');
        var place = this.getPlace();

        //console.log(place);  // Uncomment this line to view the full object returned by Google API.

        for (var i in place.address_components) {
          var component = place.address_components[i];
          for (var j in component.types) {  // Some types are ["country", "political"]
            var type_element = document.getElementById(component.types[j]);
            if (type_element) {
              type_element.value = component.long_name;
            }
          }
        }

        document.getElementById('lat').value = place.geometry.location.lat();
        document.getElementById('lng').value = place.geometry.location.lng();
        document.getElementById('place_id').value = place.place_id;
      }

      $(document).ready(function(){
        $("#advanced").on("hide.bs.collapse", function(){
          $(".link").html('<span class="glyphicon glyphicon-plus-sign"></span> Vérification');
        });
        $("#advanced").on("show.bs.collapse", function(){
          $(".link").html('<span class="glyphicon glyphicon-minus-sign"></span> Vérification');
        });
      });
  </script>
{% endblock %}
