{% extends "::base.html.twig" %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/autocomplete/jquery-ui-1.8.18.custom.css') }}">
  <link href="{{ asset('css/bootstrap-datetimepicker.min.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}Soirée de {{ party.createdBy.username|capitalize }}{% endblock %}

{% block body %}
  <section id="register" class="first_section">
    <div class="container">
      {% if error is defined %}
        <div class="row">
          <div class="alert alert-danger" role="alert">{{ error }}</div>
        </div>
      {% endif %}
      {% if party is defined %}
        {% set nbPar = party.participants|length %}
        {% if party.participantNumber != null %}
          {% set nbMax = party.participantNumber %}
        {% else %}
          {% set nbMax = 1000000 %}
        {% endif %}

        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-6">
                <span class="glyphicon glyphicon-calendar"></span>
                {{ party.datetime|localizeddate('none', 'none', null, 'Europe/Berlin', "EEEE d MMMM y \à hh:mm") }}
              </div>
              <div class="col-md-6">
                <span class="glyphicon glyphicon-map-marker"></span>
                {{ party.address.address }}
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <span class="glyphicon glyphicon-user"></span> Créé par {{ party.createdBy.username }}
              </div>
              {% if party.isPro %}
                <div class="col-md-6">
                  <i class="fa fa-briefcase"></i> Organisé par un professionnel
                </div>
              {% endif %}
            </div>
            <div class="row">
              <div class="well more_space text-center">
                Nombres d'inscrits : <b>{{ nbPar }}</b><br />

                {% if party.participantNumber != null %}
                  <b>Places restantes : {{ nbMax - nbPar }}</b><br />
                {% endif %}

                {% if party.isCanceled %}
                    <div class="alert alert-danger more_space">
                      <b>La soirée a été annulée !</b>
                    </div>
                {% elseif isCreator %}
                  <a class="btn btn-default more_space" href="{{url('party_modify', {'id':party.id})}}">Modifier</a>
                  <button class="btn btn-danger more_space" onclick="alert_danger('{{ url('party_cancellation', {'id':party.id}) }}');">Annuler la soirée</button>
                {% else %}
                  {% if participant is not defined %}
                    {% if nbPar < nbMax %}
                      <a class="btn btn-default more_space"
                         href="{{ url("party_participate", {"id":party.id}) }}">
                         Participer
                       </a>
                    {% endif %}
                  {% else %}
                    {% if participant.isParticipating %}
                      <a class="btn btn-danger more_space" href="{{ url("party_cancel_participation", {"id":party.id}) }}">
                        Annuler sa participation
                      </a>
                    {% else %}
                      {% if nbPar < nbMax %}
                        <a class="btn btn-default more_space"
                           href="{{ url("party_participate", {"id":party.id}) }}">
                           Participer
                         </a>
                       {% endif %}
                    {% endif %}
                  {% endif %}
                {% endif %}
              </div>
            </div>
            <div class="row">

                <h3 class="no_uppercase">{{ party.title }}</h3>
                <h5 class="no_uppercase">{{ party.formatedPlace }}</h5>
                {{ party.description }}
            </div>
          </div>
          <div class="col-md-4">
            <div class="thumbnail">
              {# %7C équivaut au pipe dans une url #}
              <img src= "{{ 'https://maps.googleapis.com/maps/api/staticmap?center=' ~
                            party.address.lat ~ ',' ~ party.address.lng ~
                            'zoom=6&size=400x400&markers=color:blue' ~ '%7C' ~
                            party.address.lat ~ ',' ~ party.address.lng ~
                            '&key=AIzaSyAHyTYdDhxbSCV8_5xvbgmxMryrsJCnjg0' }}">
              <div class="caption">
                <span class="glyphicon glyphicon-map-marker"></span> {{ party.address.address }} <br />
                <a class="btn btn-primary" target="_blank"
                  {% set street = "" %}
                  {% set road = "" %}
                  {% if party.address.streetNumber != null %}
                    {% set street = party.address.streetNumber ~ ',+' %}
                  {% endif %}
                  {% if party.address.route != null %}
                    {% set road = party.address.route|replace({' ':'+'}) ~ '+' %}
                  {% endif %}
                   href="{{ 'https://maps.google.fr/maps?' ~ 'daddr=' ~ street ~ road ~ party.address.locality ~ '+' ~ party.address.country }}">
                  Itinéraire <i class="fa fa-arrow-circle-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </section>
{% endblock %}

{% block javascripts %}
  <script>
    function alert_danger(link) {
        var r = confirm("Êtes-vous sûr ? Cette action est irréversible !");
        if (r == true) {
            window.location = link;
        } else {

        }
    }
  </script>
{% endblock %}
