{% if parties is defined %}
    {% if parties|length > 0 %}
      <div class="row more_space">
        {% for party in parties %}
            <div class="col-lg-3 col-md-6">
              {% if party.isPro %}
                <div class="panel panel-info">
              {% else %}
                <div class="panel panel-primary">
              {% endif %}
                    <div class="panel-heading">
                          {{ party.datetime|date("\\l\\e d/m/Y \\à H\\h:i\\m\\i\\n") }}
                          {% if party.createdBy.id == app.user.id %}
                            <a href="{{ url('party_modify', {"id":party.id}) }}" class="pull-right link_white">
                              <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                          {% endif %}
                    </div>
                    <div class="panel-body">
                      <div class="row">
                          <div class="col-xs-3">
                            {% if party.placeType == 0 %}
                              <i class="fa fa-cutlery fa-4x"></i>
                            {% elseif party.placeType == 1 %}
                              <i class="fa fa-beer fa-4x"></i>
                            {% elseif party.placeType == 2 %}
                              <i class="fa fa-coffee fa-4x"></i>
                            {% elseif party.placeType == 3 %}
                              <i class="fa fa-music fa-4x"></i>
                            {% elseif party.placeType == 4 %}
                              <i class="fa fa-home fa-4x"></i>
                            {% else %}
                              <i class="fa fa-calendar fa-4x"></i>
                            {% endif %}
                          </div>
                          <div class="col-xs-9 text-right">
                            <div>
                              {{ party.title|capitalize }} 
                              {% if party.isPro %}
                                 <span class="label label-info">PRO</span>
                              {% endif %}
                            </div>
                          </div>
                      </div>
                      <div class="row">
                            <div class="col-xs-3">
                                {{ party.address.locality }}
                            </div>
                            <div class="col-xs-9 text-right">
                                {% set nbPar = party.participants|length %}
                                {% if party.isCanceled %}
                                  <button class="btn btn-danger">
                                    <b>Soirée annulée !</b>
                                  </button>
                                {% elseif party.createdBy.id == app.user.id %}
                                  <button class="btn btn-danger"
                                          onclick="alert_danger('{{ url('party_cancellation', {'id':party.id}) }}');">
                                    Annuler <span class="badge">{{ nbPar }}</span>
                                  </button>
                                {% else %}
                                  {% if party.participantNumber != null %}
                                    {% set nbMax = party.participantNumber %}
                                  {% else %}
                                    {% set nbMax = 1000000 %}
                                  {% endif %}

                                  {% set participate = false %}
                                  {# Vérification si le participant est definis pour cette soirée #}
                                  {% for par in party.participants %}
                                      {% if par.isParticipating and par.user.id == app.user.id %}
                                        {% set participate = true %}
                                      {% endif %}
                                  {% endfor %}

                                  {% if participate %}
                                    <a class="btn btn-danger" href="{{ url("party_cancel_participation", {"id":party.id}) }}">
                                      Ne plus participer
                                    </a>
                                  {% else %}
                                    {% if nbPar < nbMax %}
                                      <a class="btn btn-default"
                                         href="{{ url("party_participate", {"id":party.id}) }}">
                                         Participer <span class="badge">{{ nbPar }}</span>
                                       </a>
                                      {% else %}
                                        <a class="btn btn-default"
                                           href="">
                                           Clos <span class="badge">{{ nbPar }}</span>
                                         </a>
                                     {% endif %}
                                  {% endif %}
                                {% endif %}
                            </div>
                      </div>
                    </div>
                    <a href="{{ url('party_show', {'id': party.id}) }}">
                      <div class="panel-footer">
                          <span class="pull-left">Voir les détails</span>
                          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                          <div class="clearfix"></div>
                      </div>
                    </a>
                </div>
            </div>
        {% endfor %}
      </div>
    {% endif %}
{% endif %}
