<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="Seul pour la Saint-Valentin ? 13 et 14 février 2016:  Fêtes des célibataires partout en France. Inscrivez-vous gratuitement. A la Saint-Valentin, on est célibataire et ça se fête !">
      <meta name="author" content="Héléna et Edwin">

      <title>{% block title %}{% endblock %}</title>

      <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
      <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet">

      <!-- Custom CSS -->
      <link href="{{ asset('css/freelancer.css') }}" rel="stylesheet">

      <!-- CSS propre au site -->
      <link href="{{ asset('css/spn.css') }}" rel="stylesheet">

      <!-- Custom Fonts -->
      <link href="{{ asset('font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
      <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
      <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->

      {% block stylesheets %}{% endblock %}
      <!--<link rel="icon" type="image/x-icon" href="{# asset('favicon.ico') #}" />-->
    </head>
    <body>
      <!-- Navigation -->
      <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header page-scroll">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand marque" href="{{ url('homepage') }}">
                    Les 13 et 14 février 2016 : Fêtes des célibataires partout en France.
                  </a>
              </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav navbar-right">
                      <li class="hidden">
                          <a href="#page-top"></a>
                      </li>

                      <!-- CONNEXION ET INSCRIPTION -->
                      {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                          <li class="page-scroll">
                            <a href="{{ path('homepage_second') }}">
                              <span class="glyphicon glyphicon-home"></span> Accueil
                            </a>
                          </li>
                          <li class="page-scroll">
                            <a href="{{ path('search_result') }}">
                              <span class="glyphicon glyphicon-search"></span> Rechercher
                            </a>
                          </li>
                          <li class="page-scroll">
                            <a href="{{ url('message_homepage') }}">
                              <span class="glyphicon glyphicon-inbox"></span> Messagerie
                            </a>
                          <li>
                            <li class="hidden-lg hidden-md hidden-sm">
                              <a href="{{ url('party_homepage') }}">
                                <span class="glyphicon glyphicon-glass"></span> Gestion des soirées
                              </a>
                            <li>
                          <li class="hidden-lg hidden-md hidden-sm">
                            <a href="{{ path('fos_user_security_logout') }}">
                                <i class="fa fa-sign-out fa-fw"></i> {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                            </a>
                          </li>
                          <li class="hidden-lg hidden-md hidden-sm">
                            <a href="{{ url("user_show", {"username":app.user.username}) }}">
                            <i class="fa fa-user fa-fw"></i> Profil</a>
                          </li>

                          <!--Affichage de la partie utilisateur-->
                            <!-- On ne l'affiche pas pour les petit écran -->
                            <li class="dropdown hidden-xs">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    {% include 'UserBundle:UserProfile:temp_image.html.twig' with
                                       {'imgCircle': true, 'width':32, 'user':app.user} %}
                                       
                                    {{ app.user.username }} <i class="fa fa-caret-down"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-user">
                                    <li>
                                      <a href="{{ url("user_show", {"username":app.user.username}) }}">
                                      <i class="fa fa-user fa-fw"></i> Profil</a>
                                    </li>
                                    <li class="page-scroll">
                                      <a href="{{ url('party_homepage') }}">
                                        <span class="glyphicon glyphicon-glass"></span> Gestion des soirées
                                      </a>
                                    <li>
                                    <li class="divider"></li>
                                    <li>
                                      <a href="{{ path('fos_user_security_logout') }}">
                                          <i class="fa fa-sign-out fa-fw"></i>
                                          {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                      </a>
                                    </li>
                                </ul>
                                <!-- /.dropdown-user -->
                            </li>
                          <!-- ============= -->
                      {% else %}
                          <li class="page-scroll">
                              <a href="#about">A propos</a>
                          </li>
                          <li class="page-scroll">
                              <a href="#history">Le saviez-vous</a>
                          </li>
                          <li class="page-scroll">
                              <a href="{{ url("fos_user_registration_register") }}">Inscription</a>
                          </li>
                          <li class="page-scroll">
                              <a href="{{ url("fos_user_security_login") }}">Connexion</a>
                          </li>
                      {% endif %}
                  </ul>
                  <br />
                  {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <!--<ul class="nav navbar-nav navbar-right">
                      <li class="page-scroll">Bonjour {{ app.user.username }}</li>
                    </ul>-->
                  {% endif %}
              </div>
              <!-- /.navbar-collapse -->
          </div>
          <!-- /.container-fluid -->
      </nav>

        {# Affichage des messages d'informations au dessus du body #}
        {% set errMessages = app.session.flashbag.get('error') %}
        {% set sucMessages = app.session.flashbag.get('success') %}
        {% if errMessages|length > 0 %}
          <section>
            <div class="container">
              <div class="row">
                <div class="alert alert-danger">
                  <a href="#" class="close" data-dismiss="alert">&times;</a>
                  {% for message in errMessages %}
                    <strong>Erreur ! </strong>{{ message }} <br />
                  {% endfor %}
                </div>
              </div>
            </div>
          </section>
        {% endif %}
        {% if sucMessages|length > 0 %}
          <section>
            <div class="alert alert-success">
              <a href="#" class="close" data-dismiss="alert">&times;</a>
              {% for message in sucMessages %}
                {{ message }}
              {% endfor %}
            </div>
          </section>
        {% endif %}


        {% block body %}
        {% endblock %}

        <!-- Footer -->
        <footer class="text-center">
            <div class="footer-above">
                <div class="container">
                    <div class="row">
                        <div class="footer-col col-md-4">
                            <h3>Contact</h3>
                            <p>Pour nous contacter : team@seulpourlasaintvalentin.fr</p>
                            <p><a href="{{ url('cgu') }}">Conditions générales d'utilisation</a></p>
                        </div>
                        <div class="footer-col col-md-4">
                            <h3>Réseaux sociaux</h3>
                            <ul class="list-inline">
                                <li>
                                    <a href="https://www.facebook.com/Seul-pour-la-Saint-Valentin-172080776484836/?ref=hl" class="btn-social btn-outline black_color"
                                       target="_blank">
                                      <i class="fa fa-fw fa-facebook"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="footer-col col-md-4">
                            <h3 class="no_uppercase">Il nous l'a promis :</h3>
                            <p class="more_space">
                              "Le soleil ne se lève que pour celui qui va à sa rencontre."<br />
                              Henry le Saux, Moine Bénédictin
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-below">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            Copyright &copy; Seul Pour la Saint Valentin {{ "now"|date('Y') }}
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <!-- jQuery -->
        <script src="{{ asset('js/jquery.js') }}"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>

        <!-- Plugin JavaScript -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
        <script src="{{ asset('js/classie.js') }}"></script>
        <script src="{{ asset('js/cbpAnimatedHeader.js') }}"></script>

        <!-- Custom Theme JavaScript -->
        <script src="{{ asset('js/freelancer.js') }}"></script>

        <!-- Traceur google-analytics -->
        <script src="{{ asset('js/cookie.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
