{% extends "::base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
  <section id="register" class="first_section">
    <div class="container">
        <div class="row">
          {% if user is defined %}
          <p>
            {# 'resetting.check_email'|trans({'%email%': email}) #}
            {{ 'registration.check_email'|trans({'%email%': user.email}) }}
          </p>
          {% endif %}
        </div>
      </div>
  </section>
{% endblock %}
