{% extends "::base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
  {% block fos_user_content %}
    <section id="register" class="first_section">
      <div class="container">
          <div class="row">
            <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
            {% if targetUrl %}
              <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
            {% endif %}
          </div>
      </div>
    </section>
  {% endblock fos_user_content %}
{% endblock %}
