{% extends "::base.html.twig" %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/autocomplete/jquery-ui-1.8.18.custom.css') }}">

{% endblock %}

{% block body %}
  <section id="register" class="first_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Inscrivez-vous</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
          <h4 class="no_uppercase text-center">De toute façon, la pâte à tartiner et le plateau télé, c'est bien trop cliché !</h4>
          <p class="text-center">
            Entrez vos identifiants ici et organiser votre week-end de la Saint-Valentin. <br />
            Une fois l'inscription terminée, un email de validation vous sera envoyé !
          </p>
        </div>
        <div class="row">
          {% form_theme form '::form_base.html.twig' %}
          {% trans_default_domain 'FOSUserBundle' %}

          {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register', 'id': 'search-form'}}) }}
              <div class="form-group">
                {{ form_label(form.email) }} {{ form_widget(form.email) }}
                {{ form_errors(form.email) }}
              </div>

              <div class="form-group">
                {{ form_label(form.username) }} {{ form_widget(form.username) }}
                {{ form_errors(form.username) }}
              </div>

              <div class="form-group">
                {{ form_label(form.plainPassword) }}
                {{ form_widget(form.plainPassword) }}
                {{ form_errors(form.plainPassword) }}
              </div>

              <div class="form-group">
                {{ form_widget(form.wantTips) }}
                {{ form_label(form.wantTips) }}
              </div>

              <div class="form-group">
                {{ form_widget(form.hasAcceptedCGU) }}
                {{ form_label(form.hasAcceptedCGU) }}
                {{ form_errors(form.hasAcceptedCGU) }}
              </div>

              <div>
                  <input class="btn btn-success btn-lg" type="submit" value="{{ 'registration.submit'|trans }}" />
              </div>
          {{ form_end(form) }}
        </div>
      </div>
    </section>
{% endblock %}

{% block javascripts %}

  <script type="text/javascript" src="{{ asset('js/autocomplete/jquery-ui-1.8.18.custom.min.js') }}"></script>
  <script type="text/javascript" src="{{ asset('js/autocomplete/attach-autocomplete.js') }}"></script>


{% endblock %}
