<p>
  Bonjour, <br />
  Nous vous informons que {{ name }} a annulé sa soirée qui était prévu pour le {{ datetime|date('d/m/Y \\à H:m') }}. <br />
  L'adresse de la soirée était la suivante : {{ address }}
</p>
<p>
  Néanmoins, la soirée reste visible à l'address ci-dessous <br />
  <a href="{{ link }}">Soirée</a>
</p>
<p>Si jamais l'organisateur décide de relancer sa soirée, vous n'avez pas besoin de vous ré-inscrire.<br />
   Vous serez avertit par mail si jamais cela ce produit.
</p>
<p>
  L'équipe de Seul Pour la Saint Valentin.
</p>
