{% extends '::base.html.twig' %}

{% block title %}Messagerie{% endblock %}

{% block body %}
  {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <section class="first_section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Boite de réception</h2>
                    <hr class="star-primary" />
                </div>
            </div>
            <div>
              {% if user_messages is defined %}
                  <p>
                      {{ unread_messages|length }} messages non lus.
                  </p>

                  {% if user_messages|length > 0 %}
                    <form id="form_del" action="{{ url('message_remove') }}" method="post">
                      <input type="checkbox" id="select_all" value=""></input> Sélectionner tout
                      <a href="javascript:{}" onclick="document.getElementById('form_del').submit(); return false;">Supprimer les messages selectionnés</a>
                      <table class="table table-striped table-hover mailbox_table">
                          <tbody>
                            {% for umes in user_messages %}
                              <tr>
                                <td>
                                  <a id="row_link" href="{{ url('message_show', {'conv_id': umes.conversation.id}) }}" style="display:none;"></a>
                                  <input id="row_check" type="checkbox" name="cmessage[]" value="{{ umes.message.id }}" >
                                  {% if umes.isRead == true %}
                                    <span class="glyphicons glyphicons-message-empty v_center" style="font-size:1.5em;"></span>
                                  {% else %}
                                    <span class="glyphicons glyphicon-envelope v_center" style="font-size:1.5em;"></span>
                                  {% endif %}
                                </td>
                                <td >
                                  {{ umes.message.createdBy }}
                                </td>
                                <td><strong>{{ umes.message.subject }}</strong> - {{ umes.message.message|truncate(30, true) }} </td>
                                <td>{{ umes.message.createdAt|date('\\l\\e d/m/Y \\à H:i') }}</td>
                              </tr>
                            {% endfor %}
                          </tbody>
                      </table>
                    </form>
                  {% endif %}
              {% endif %}
            </div>
        </div>
    </section>
  {% endif %}
{% endblock %}

{% block javascripts %}
  <script>
    //On peut aller sur le lien si launch = true
    var launch = true;

    //Clique sur la checkbox alors on annule l'action de redirection
    $('.table > tbody > tr').find('#row_check').on('click', function() {
        //window.location = $(this).find("#row_link").attr("href");
        launch = false;
    });

    $('.table > tbody > tr').on('click', function() {
        if(launch)
        {
          window.location = $(this).find("#row_link").attr("href");
        }
        else {
          launch = true;
        }
    });

    //Sélection de toutes les checkbox
    $("#select_all").change(function(){
      $('.table > tbody > tr').find("#row_check").prop('checked', $(this).prop("checked"));
      });
  </script>
{% endblock %}
