{% extends "::base.html.twig" %}

{% block title %}Envoyer un message{% endblock %}

{% block body %}
  <section id="register" class="first_section">
    <div class="container">
        {% if error is defined %}
          <div class="row">
            <div class="alert alert-danger" role="alert">{{ error }}</div>
          </div>
        {% endif %}
        {% if user_name is defined %}
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2>Envoyer un message à {{ user_name }}</h2>
                  <hr class="star-primary">
              </div>
          </div>
          <div class="row">
            {% include 'MessageBundle::temp_write_message.html.twig' %}
          </div>
        {% endif %}
      </div>
    </section>
{% endblock %}
