{% extends "::base.html.twig" %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/timeline.css') }}">
{% endblock %}

{% block title %}Conversation{% endblock %}

{% block body %}
  <section id="register" class="first_section">
      {% if error is defined %}
        <div class="row">
          <div class="alert alert-danger" role="alert">{{ error }}</div>
        </div>
      {% endif %}

      {% if conversation is defined %}
          <div class="container">
            <div class="row">
              <div class="col-sm-9 col-md-9 col-lg-9 scrollit">
                <ul class="timeline">
                      {% for user_message in conversation %}
                          {% if app.user.id != user_message.message.createdBy.id %}
                            {% set inverted = true %}
                          {% else %}
                            {% set inverted = false %}
                          {% endif %}
                          {% include 'MessageBundle::temp_timeline.html.twig' with {"inverted":inverted} %}
                      {% endfor %}
                </ul>
              </div>
              <div class="col-sm-3 col-md-3 col-lg-3">
                {{ render(controller("MessageBundle:Default:respond", {"conv_id":conv_id})) }}
              </div>
            </div>
          </div>
      {% endif %}
  </section>
{% endblock %}
