{% form_theme form '::form_base.html.twig' %}
{% if user_id is defined %}
  {{ form_start(form, {'method': 'post', 'action': path('message_send', {'user_id': user_id})}) }}
{% else %}
  {{ form_start(form, {'method': 'post', 'action': path('message_respond', {'conv_id': conv_id})}) }}
{% endif %}
  <div class="form-group">
    {{ form_label(form.subject) }}
    {% if conv_id is defined %}
      {% set required = false %}
    {% else %}
        {% set required = true %}
    {% endif %}
    {{ form_widget(form.subject, {"required":required}) }}
    {{ form_errors(form.subject) }}
  </div>

  <div class="form-group">
    {{ form_label(form.message) }} {{ form_widget(form.message) }}
    {{ form_errors(form.message) }}
  </div>

  <div class="form-group">
    {% if user_id is defined %}
      <input class="btn btn-success btn-lg" type="submit" value="Envoyer" />
    {% else %}
      <input class="btn btn-primary" type="submit" value="Répondre" />
    {% endif %}
  </div>
{{ form_end(form) }}
