<li {% if inverted == true %}
      class="timeline-inverted"
    {% endif %}>
  <div class="timeline-badge">
    {% include "UserBundle:UserProfile:temp_image.html.twig"
       with {"centerBlock":true, "imgCircle":true, "imgThumbnail":true, "imgResponsive":true, "user":user_message.message.createdBy} %}
  </div>
  <div class="timeline-panel">
    <div class="timeline-heading">
      <h4 class="timeline-title">{{ user_message.message.subject }}</h4>
      <small class="text-muted"><i class="glyphicon glyphicon-user"></i>
        {{ user_message.message.createdBy.username }}
      </small>
      <small class="text-muted"><i class="glyphicon glyphicon-time"></i>
        {{ user_message.message.createdAt|date("d/m/Y \\à H:i") }}
      </small>
    </div>
    <div class="timeline-body">
      <p>{{ user_message.message.message }}</p>
    </div>
  </div>
</li>
