.first_section
{
  padding-top: 175px;
}

#city-list {
    display: block;
    position:relative;
    z-index: 10;
}

.v_center
{
  float:none;
  display:inline;
  vertical-align:middle;
}

.marque
{
  font-family: "Goudy Old style", "Lato", "Helvetica Neue", Helvetica, Arial;
  text-transform: none;
}

.big
{
  font-size: 5em;
}

.annee
{
  font-size: 2.5em;
}

/* Permet d'avoir un écart supplémentaire par rapport à l'élément situé en haut */
.more_space
{
  margin-top: 15px;
}

.black_color
{
  color: #000000;
}

.thumbnail_spv
{
    height: 240px;
}

.thumbnail h4
{
    text-transform: none;
}

.thumbnail_spv:hover
{
    border-color: #1FBEEF;
    border-width: 2px;
    cursor: pointer;
}

.corner-right
{
  position:absolute;
  bottom:25px;
  right:25px;
  margin:0;
  padding:5px 3px;
  color: black;
}

.corner-right a
{
  color: black;
  margin-left: 5px;
}


.corner-right a:hover
{
  color: #1FBEEF;
}

.no_uppercase
{
  text-transform: none;
}

.btn_spv
{
    background-color: #73C3FF;
    margin: 0;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
}

.btn_spv:hover
{
  background-color: #4FB3FF;
}

.well_spv
{
  background-color: #FFFFFF;
}

.section_about
{
  background-color: #1A242F;
  color: #FFFFFF;
}

hr.star-spv {
    border-color: #fff;
}

hr.star-spv:after {
    color: #fff;
    background-color: #1A242F;/* Ancienne coleur #18bc9c; */
}

.link_white
{
    color: #fff;
}

.link_white:hover
{
    color: #D0EDFF;
}

.btn_spv_red
{
  background-color: #FF0040;
  color: white;
}

.btn_spv_red:hover
{
  background-color: #E20039;
}

.spv_card
{
    padding: 20px;
}

.spv_card:hover
{
    cursor: pointer;
    background-color: #ecf0f1;
    border-radius: 4px;
}

.spv_h4
{
    height: 40px;
}

.mailbox_table tr:hover
{
    cursor: pointer;
}

.navbar-nav li a {
    line-height: 30px;
}

.fixed { height:400px; overflow:hidden;}
.scrollit { height:400px; overflow-y:scroll; }

.cookie_notif {
  position: fixed;
  top: 30%;
  left: 40%;
  z-index: 1999;
}

@media (max-width: 768px) {
  .cookie_notif {
    position: fixed;
    top: 30%;
    left: 10%;
    z-index: 1999;
  }
}

.cookie_content
{
  width: 300px;
  background-color: white;
  repeat scroll 0% 0% white;
  border: 1px solid #cccccc;
  padding :10px 10px;
  text-align:center;
}
