{% extends "::base.html.twig" %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/autocomplete/jquery-ui-1.8.18.custom.css') }}">
{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
  <section id="register" class="first_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Connexion</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            {% if error %}
                <p style="color: red;">
                  {{ error.messageKey|trans(error.messageData, 'security') }}
                </p>
            {% endif %}

            <form action="{{ path("fos_user_security_check") }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                <div class="form-group">
                  <label class="control-label" for="username">{{ 'security.login.username'|trans }} ou email</label>
                  <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                </div>

                <div class="form-group">
                  <label class="control-label" for="password">{{ 'security.login.password'|trans }}</label>
                  <input class="form-control" type="password" id="password" name="_password" required="required" />
                </div>

                <!--<div class="form-group">
                  <input  type="checkbox" id="remember_me" name="_remember_me" value="on" />
                  <label class="control-label" for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                </div>-->

                <div class="form-group">
                  <input class="btn btn-primary btn-lg" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
                </div>
            </form>
            <a href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié ?</a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
