{% extends "::base.html.twig" %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/autocomplete/jquery-ui-1.8.18.custom.css') }}">
{% endblock %}

{% block title %}Compléter votre profil{% endblock %}

{% block body %}
  <section class="first_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Complétez votre profil</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
          <!--<h4 class="no_uppercase text-center">C'est le moment que vous allez préférer !</h4>-->
          <h4 class="no_uppercase text-center">Maintenant c'est à vous de jouer !</h4>
          <p class="text-center">
            Créez votre profil ici. <br />
            Soyez créatif, mais surtout soignez l'orthographe et la présentation de votre description.
          </p>
        </div>
        <div class="row">
          {% form_theme form '::form_base.html.twig' %}

          {{ form_start(form, {'method': 'post', 'action': path('user_complete_profile'), 'attr': {'class': 'user_complete_profile', 'id': 'search-form'}}) }}
              <div class="form-group">
                {{ form_label(form.age) }} {{ form_widget(form.age) }}
                {{ form_errors(form.age) }}
              </div>

              <div class="form-group">
                {{ form_label(form.gender) }} {{ form_widget(form.gender) }}
                {{ form_errors(form.gender) }}
              </div>

              <div class="form-group">
                {{ form_label(form.oneshotDescription) }} {{ form_widget(form.oneshotDescription) }}
                {{ form_errors(form.oneshotDescription) }}
              </div>

              <div class="form-group">
                <lablel class="control-label required">Nom ou code postal de la ville</label>
                <input class="form-control" type="text" id="searchbox" name="city_term"
                       value="{% if city_term != "" %}{{ city_term }}{% endif %}"/>
                <div id="city-list">
                </div>
                {% if error_cities|length > 0 %}
                    <span class="help-block">
                      <ul class="list-unstyled">
                        {% for error in error_cities %}
                            <li>
                              <span class="glyphicon glyphicon-exclamation-sign"> </span> {{ error }}
                            </li>
                        {% endfor %}
                      </ul>
                    </span>
                {% endif %}
              </div>

              {% if cities|length > 1 %}
                <div class="form-group">
                  <lablel class="control-label required">Plusieurs ville ont été trouvées, veuillez selectionnez votre ville dans la liste</label>

                  {# affichage de toutes les villes dans une liste #}
                  <select class="form-control" id="sel1" name="cities">
                    {% for city in cities %}
                      <option  value="{{ city.id }}">{{ city.nom }} | {{ city.cp }}</option>
                    {% endfor %}
                  </select>
                </div>
              {% endif %}

              <div class="form-group">
                {{ form_label(form.file) }} {{ form_widget(form.file) }}
                {{ form_errors(form.file) }}
              </div>

              <div class="form-group">
                {{ form_label(form.description) }} {{ form_widget(form.description) }}
                {{ form_errors(form.description) }}
              </div>

              <div>
                  <input class="btn btn-success btn-lg" type="submit" value="Valider" />
              </div>
          {{ form_end(form) }}
        </div>
      </div>
    </section>
{% endblock %}

{% block javascripts %}
  <script>
    var TWIG = {};
    TWIG.path = "{{ url('geolocation_search_city') }}"
  </script>

  <script type="text/javascript" src="{{ asset('js/autocomplete/jquery-ui-1.8.18.custom.min.js') }}"></script>
  <script type="text/javascript" src="{{ asset('js/autocomplete/attach-autocomplete.js') }}"></script>


{% endblock %}
