{% extends "::base.html.twig" %}

{% block title %}Profil de {{ user.username|capitalize }}{% endblock %}

{% block body %}
<section class="first_section">
  <div class="container">
    <div class="row">
      {% if user is defined %}
          <div class="col-md-8 col-xs-10">
            <div class="well panel panel-default well_spv">
              <div class="panel-body">
                <div class="row">
                  <div class="col-xs-12 col-sm-4 text-center">
                      {% include 'UserBundle:UserProfile:temp_image.html.twig' with
                         {'imgCircle': true, 'imgThumbnail':true, 'imgResponsive':true, "centerBlock":true} %}
                  </div>
                  <!--/col-->
                  <div class="col-xs-12 col-sm-8">
                    <h2 class="no_uppercase">{{ user.username|capitalize }}</h2>
                    <p>
                      {% if user.userProfile.gender != null %}
                        {% if user.userProfile.gender == "m" %}
                          Homme
                        {% else %}
                          Femme
                        {% endif %}
                        {# si on a l'age en même temps que le sexe on rajoute le de #}
                        {% if user.userProfile.age != null %}
                          de
                        {% endif %}
                      {% endif %}

                      {% if user.userProfile.age != null %}
                        {{ user.userProfile.age }} ans
                      {% endif %}
                    </p>
                    <p><strong><span class="glyphicon glyphicon-map-marker"></span></strong> {{ user.userProfile.city.nom }} ({{ user.userProfile.city.cp }}) </p>
                    <p><strong>A propos: </strong>
                      {{ user.userProfile.descriptionSentence }}
                    </p>
                  </div>
                  <!--/col-->
                  <div class="clearfix"></div>
                  <div class="more_space">
                    <p class="text-justify">
                      {% if user.userProfile.description != null %}
                          {{ user.userProfile.description }}
                      {% else %}
                        <i>Aucune description</i>
                      {% endif %}
                    </p>
                  </div>
                </div>
                <!--/row-->
                <div class="row">
                  {% if user.id == app.user.id %}
                      <div class="col-md-4 col-lg-4">
                        <a href="{{ url('fos_user_profile_edit') }}" class="btn btn-default btn-block" role="button">
                          Modifier les identifiants
                        </a>
                      </div>
                      <div class="col-md-4 col-lg-4">
                        <a href="{{ url('user_complete_profile') }}" class="btn btn-primary btn-block" role="button">
                          Modifier votre profil
                        </a>
                      </div>
                      <div class="col-md-4 col-lg-4">
                        <a href="#" onclick="alert_danger();" class="btn btn-danger btn-block" role="button">
                          Supprimer votre compte
                        </a>
                      </div>
                  {% else %}
                    <a href="{{ url('message_send', {'user_id':user.id}) }}" class="btn btn-primary btn-block" role="button">
                      <span class="glyphicon glyphicon-envelope"></span> Envoyer un message
                    </a>
                  {% endif %}
                </div>
              </div>
              <!--/panel-body-->
            </div>
            <!--/panel-->
          </div>
          <!--/col-->
      {% endif %}
      {% if error is defined %}
        <div class="alert alert-danger" role="alert">{{ error }}</div>
      {% endif %}
    </div>
  <!--/row-->
  </div>
  <!--/container-->
</section>
{% endblock %}

{% block javascripts %}
    <script>
      function alert_danger() {
        var r = confirm("Êtes-vous sûr ? Cette action est irréversible !");
        if (r == true) {
            window.location = "{{ url('user_remove') }}";
        } else {

        }
      }
    </script>
{% endblock %}
