{% if user.userProfile != null %}
  {% set rotate = "" %}

  {% if user.userProfile.getImageRotation != null %}
    {% set rotate = "fa-rotate-" ~ user.userProfile.getImageRotation  %}
  {% else %}

  {% endif %}

  {% if imgCircle is defined %}
    {% set imgCircle = "img-circle"  %}
  {% else %}
    {% set imgCircle = ""  %}
  {% endif %}

  {% if centerBlock is defined %}
    {% set centerBlock = "center-block"  %}
  {% else %}
    {% set centerBlock = ""  %}
  {% endif %}

  {% if imgThumbnail is defined %}
    {% set imgThumbnail = "img-thumbnail"  %}
  {% else %}
    {% set imgThumbnail = ""  %}
  {% endif %}

  {% if imgResponsive is defined %}
    {% set imgResponsive = "img-responsive"  %}
  {% else %}
    {% set imgResponsive = ""  %}
  {% endif %}

  {% if user.userProfile.avatarExt != null %}
      <img src="{{ asset(user.userProfile.webPath) }}" alt=""
            class="{{ centerBlock }} {{ imgCircle }} {{ imgThumbnail }} {{ imgResponsive }} {{ rotate }}"
            {% if width is defined %}
              width="{{ width }}"
            {% endif %}
            >
  {% else %}
       <img src="{{ asset('img/coeur.png') }}" alt=""
             class="{{ centerBlock }} {{ imgCircle }} {{ imgThumbnail }} {{ imgResponsive }}"
             {% if width is defined %}
               width="{{ width }}"
             {% endif %}
             >
  {% endif %}
{% endif %}
