{% extends "::base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
<section id="register" class="first_section">
  <div class="container">
      <div class="row">
        <p>
          {{ 'resetting.check_email'|trans({'%email%': email}) }}
        </p>
      </div>
    </div>
</section>
{% endblock %}
