{% trans_default_domain 'FOSUserBundle' %}

<section id="register" class="first_section">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2>Réinitialisation du mot de passe</h2>
              <hr class="star-primary">
          </div>
      </div>
      <div class="row">
        <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
            <div class="form-group">
                {% if invalid_username is defined %}
                    <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
                {% endif %}
                <label for="username">{{ 'resetting.request.username'|trans }}</label>
                <input class="form-control" type="text" id="username" name="username" required="required" />
            </div>
            <div class="form-group">
                <input class="btn btn-success btn-lg" type="submit" value="{{ 'resetting.request.submit'|trans }}" />
            </div>
        </form>
      </div>
  </div>
</section>
