<section id="register" class="first_section">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2>Réinitialisation du mot de passe</h2>
              <hr class="star-primary">
          </div>
      </div>
      <div class="row">
        {% trans_default_domain 'FOSUserBundle' %}
        {% form_theme form '::form_base.html.twig' %}
        
        {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
            {{ form_widget(form) }}
            <div>
                <input class="btn btn-success btn-lg" type="submit" value="{{ 'resetting.reset.submit'|trans }}" />
            </div>
        {{ form_end(form) }}
      </form>
    </div>
  </div>
</section>
